<div class="jumbotron text-center">
  <h1>Welcome to our Categories</h1>
</div>

<ul class="nav nav-tabs">
  <li><a href="#" data-toggle="tab" ui-sref="home">Home</a></li>
  <li class="active"><a data-toggle="tab">Categories</a></li>
</ul>

<div class="list-group">   
    <a class="list-group-item" 
       ng-repeat="item in data.items" 
       ui-sref="items({categoty_id: item.short_name})">
         <span class="badge">{{item.short_name}}</span> {{item.name}}
    </a>                     
</div>