<div ng-cloak> <!--layout-padding layout-wrap layout-fill-->

	<md-content layout="row" layout-padding layout-wrap>
		<div flex="100">
		     <md-input-container class="md-icon-float md-block">
			  <label>SEARCH</label>
			  <md-icon md-menu-align-target md-font-library="material-icons">search</md-icon>
			  <input type="text" ng-model="ctrl.filter">	
			</md-input-container>
		</div>
		<div flex-xs="100" flex-sm="100" flex-gt-sm="50" flex-gt-md="33" layout layout-align="center center" ng-repeat="user in ctrl.getFilteredUsers()">
			 <md-card flex md-theme="default">
			 	 <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">{{user.name}}</span>
		            <span class="md-subhead">{{user.username}}</span>
		          </md-card-title-text>
		          <md-card-avatar>
                     <md-icon class="md-avatar-icon" md-svg-icon="img/icons/ic_person_24px.svg"></md-icon>
                  </md-card-avatar>
		        </md-card-title>
		        <md-card-actions layout="row" layout-align="end center">
		          <md-button>Remove</md-button>
		          <md-button>Edit</md-button>
		        </md-card-actions>
			 </md-card>	
		 </div>
	</md-content>

	<md-button id="add-new-user" class="md-fab md-position-bottom-right" aria-label="Add">
		<md-icon md-svg-src="img/icons/people-plus.svg"></md-icon>
		<md-tooltip md-direction="left">Add new user</md-tooltip>
    </md-button>
</div>


