#login-dialog {
  max-width: 90%;
  width:   500px;
}

.md-scale:not(.md-is-open) .md-fab-action-item {
  opacity: 0;
}

md-content {
	overflow : auto;
}

.md-position-bottom-right {
  position: fixed;
  bottom  : 10px;
  right   : 10px;
}


