<md-dialog id="login-dialog" aria-label="Login">
  <form name="loginForm" ng-submit="dialog.perform()">
    <md-toolbar>
      <div class="md-toolbar-tools" style = "min-height : 20%;">
        <h2> <md-icon class="material-icons">https</md-icon> Log In</h2>
        <span flex></span>
        <div class="lock-size" layout="row" layout-align="center center">
            <md-fab-speed-dial md-open="false" md-direction="left" ng-class="dialog.selectedMode">
              <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab">
                  <md-icon md-svg-src="img/icons/ic_menu_24px.svg"></md-icon>
                </md-button>
              </md-fab-trigger>
              <md-fab-actions>
                <md-button aria-label="Close" class="md-fab md-raised md-mini" ng-click="dialog.close()">                  
                   <i class="material-icons md-48">close</i>
                   <md-tooltip md-direction="bottom">
                    Close
                   </md-tooltip>
                </md-button>
                <md-button aria-label="New" class="md-fab md-raised md-mini">
                    <i class="material-icons">person_add</i>
                    <md-tooltip md-direction="bottom">
                    New Account
                   </md-tooltip>
                </md-button>
              </md-fab-actions>
           </md-fab-speed-dial> 
         </div>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Username</label>
          <md-icon class="material-icons">person</md-icon>
          <input name="username" ng-model="dialog.username" md-autofocus required />
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <md-icon class="material-icons">security</md-icon>
          <input type="password" name="password" ng-model="dialog.password" required />
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">   
       <md-button  class="md-flat">
         Forget Password?
      </md-button>
      <span flex></span>
      <md-button type="submit" ng-disabled="loginForm.$invalid" class="md-primary md-raised">
         <md-icon class="material-icons">power_settings_new</md-icon> Login
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>