<md-dialog id="login-dialog" aria-label="Login">
  <form name="loginForm" ng-submit="dialog.perform()" novalidate>
    <md-toolbar class="md-tall" layout="row" layout-align="space-between center">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <div><h2> <md-icon class="material-icons md-48">https</md-icon>&nbsp;Log In</h2></div>
        <div layout="row" layout-align="center center">
            <md-fab-speed-dial md-open="false" md-direction="left" ng-class="dialog.selectedMode">
              <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab">
                  <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>
              </md-fab-trigger>
              <md-fab-actions>
                <md-button aria-label="Close" class="md-fab md-raised md-mini" ng-click="dialog.close()">                  
                   <i class="material-icons">close</i>
                   <md-tooltip md-direction="bottom">
                    Close
                   </md-tooltip>
                </md-button>
                <md-button aria-label="New" class="md-fab md-raised md-mini">
                    <i class="material-icons">person_add</i>
                    <md-tooltip md-direction="bottom">
                    New Account
                   </md-tooltip>
                </md-button>
              </md-fab-actions>
           </md-fab-speed-dial> 
         </div>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Username</label>
          <md-icon class="material-icons">person</md-icon>
          <input type="email" name="username" ng-model="dialog.username" md-autofocus required />
          <div ng-messages="loginForm.username.$error" ng-if="loginForm.username.$touched">
              <div ng-message="required">You <b>must</b> inform a valid email.</div>
              <div ng-message="email">Username has the following format <b>name@domain</b>.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <md-icon class="material-icons">security</md-icon>
          <input type="password" name="password" minlength="4" ng-model="dialog.password" required />
          <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
              <div ng-message="required">You <b>must</b> inform a password.</div>
              <div ng-message="minlength">Your entry is not long enough.</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">   
       <md-button  class="md-flat">
         Forget Password?
      </md-button>
      <span flex></span>
      <md-button type="submit" ng-disabled="loginForm.$invalid" class="md-primary md-raised">
         <md-icon class="material-icons">power_settings_new</md-icon> Login
      </md-button>
    </md-dialog-actions>
 
  </form>
</md-dialog>