body {
  font-size: 1.2em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 50%;
}

.active {
  font-weight: bold;
}



.list-group-item:nth-child(odd){
  color:#31708f;
  background-color:#d9edf7;
}

