<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="css/angular-material.min.css">
  <link rel="stylesheet" href="css/application.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 

</head>
<body ng-app="AppSecrets">
  <!--
    Your HTML content here
  --> 

  <div ng-controller="login-controller as login" layout="column">
    <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
      <md-button class="md-primary md-raised" ng-click="login.show($event)">
       
        Login
      </md-button>
    </div>
    <div ng-if="login.status" id="status">
      <b layout="row" layout-align="center center" class="md-padding">
        {{login.status}}
      </b>
      
    </div>  
  
    
  </div>  
  
  
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="js/jquery-2.1.4.min.js"></script> 
  <script src="js/angular.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/angular-aria.min.js"></script>
  <script src="js/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
 
  <script src="js/angular-material.min.js"></script>
  <script src="js/svg-asserts-cache.js"></script>
  
  <script src="js/login/login.js"></script>
  
  <script>
      angular.module("AppSecrets", ['secretLogin']).
        config(function($mdThemingProvider){
          $mdThemingProvider.theme('default') 
              .primaryPalette('orange')
              .accentPalette('blue-grey');
        });
  </script>

</body>
</html>
